{% extends 'base.html' %}
{% block content %}
<h2>Create a New Account</h2>
<p>Please fill in the details below:</p>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=30, class_="input-field", value="student@tup.edu.ph") }}
        {% if form.email.description %}
            <br><small style="color: gray;">{{ form.email.description }}</small> {% endif %}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=30) }}
    </div>
    <div>{{ form.submit(class_="btn btn-primary") }}</div>
</form>
{% endblock %}